# General
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo

# Python
__pycache__/
*.pyc
.venv/
venv/
.python-version

# Build artifacts
build/
out/
bin/
obj/
dist/
*.pdb
*.ilk
*.obj
*.exe
*.dll
*.lib
*.exp
*.ipdb

# CMake
CMakeCache.txt
CMakeFiles/
cmake-build-*/
*.cmake
Makefile
cmake_install.cmake
compile_commands.json

# VS / VSCode
.vs/
.vscode/
*.user
*.suo
*.VC.db
*.VC.opendb

# OS-specific
ehthumbs.db
Icon?

data